@import '_govuk-elements';

.search-results {
  @extend %contain-floats;
}

a.search-result {
  display: block;
  float: none;
  clear: left;
  position: relative;

  border: 1px solid $panel-colour;
  padding: (18px $gutter $gutter-half $gutter*1.8);

  margin-bottom: 10px;
  cursor: pointer; // Encourage clicking on block labels

  text-decoration: none;
  color: $text-colour;

  h1, h2, h3, h4, h5 {
    color: $link-colour;
  }

  &:hover {
    border-color: $black;
  }
}

#search-form {
  .button {
    @include core-19;
    padding: 5px em(15);
    margin-left: -4px;

    @include media (mobile) {
      margin-top: $gutter-half;
      margin-left: 0;
      width: 100%;
    }
  }
}

.button-secondary {
  @include button ($grey-1);
  @include box-sizing (border-box);
  padding: em(10) em(15) em(5) em(15);
  vertical-align: top;
  @include media (mobile) {
    width: 100%;
    text-align: center;
    margin-top: $gutter-half;
  }
}

.information-box {
  @extend .error-summary;
  border: 5px solid $govuk-blue;
}
