{{<layout}}

{{$applicationContent}}

<section class="occupation-how-to-detail">
    <h2 class="heading-xlarge">{{#__}}occupation-how-to.heading{{/__}}</h2>

    <div class="grid-row">
        <div class="column-half example-box">
            <h3 class="heading-small">{{#__}}occupation-how-to.tasks.heading{{/__}}</h3>
            <ul class="list-bullet" id="occupation-tasks">
                {{#occupation.tasks}}
                    <span data-test="occupation-task">
                        <li data-test="occupation-task-text">{{.}}</li>
                    </span>
                {{/occupation.tasks}}
            </ul>
        </div>
        <div class="column-half">
            <h3 class="heading-small">{{#__}}occupation-how-to.tasks.help.heading{{/__}}</h3>
            <ul class="list-bullet">
                <li>{{#__}}occupation-how-to.tasks.help.bullet-1{{/__}}</li>
                <li>{{#__}}occupation-how-to.tasks.help.bullet-2{{/__}}</li>
                <li>{{#__}}occupation-how-to.tasks.help.bullet-3{{/__}}</li>
                <li>{{#__}}occupation-how-to.tasks.help.bullet-4{{/__}}</li>
            </ul>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-half example-box">
            <h3 class="heading-small">{{#__}}occupation-how-to.titles.heading{{/__}}</h3>
            <em data-test="occupation-additional-titles" id="occupation-additional-titles">{{occupation.additionalTitles}}</em>
        </div>
        <div class="column-half">
            <h3 class="heading-small">{{#__}}occupation-how-to.titles.help.heading{{/__}}</h3>
            <ul class="list-bullet">
                <li>{{#__}}occupation-how-to.titles.help.bullet-1{{/__}}</li>
            </ul>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-half example-box">
            <h3 class="heading-small">{{#__}}occupation-how-to.qualifications.heading{{/__}}</h3>
            <p data-test="occupation-qualifications" id="occupation-qualifications">{{occupation.qualifications}}</p>
        </div>
        <div class="column-half">
            <h3 class="heading-small">{{#__}}occupation-how-to.qualifications.help.heading{{/__}}</h3>
            <ul class="list-bullet">
                <li>{{#__}}occupation-how-to.qualifications.help.bullet-1{{/__}}</li>
                <li>{{#__}}occupation-how-to.qualifications.help.bullet-2{{/__}}</li>
                <li>{{#__}}occupation-how-to.qualifications.help.bullet-3{{/__}}</li>
            </ul>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-half example-box">
            <h3 class="heading-small">{{#__}}occupation-how-to.time.heading{{/__}}</h3>
            <ul>
                <li data-test="occupation-week-hours">{{content.week-hours}}</li>
                <li data-test="occupation-week-pay">{{content.week-pay}}</li>
            </ul>
        </div>
        <div class="column-half">
            <h3 class="heading-small">{{#__}}occupation-how-to.time.help.heading{{/__}}</h3>
            <ul class="list-bullet">
                <li>{{#__}}occupation-how-to.time.help.bullet-1{{/__}}</li>
                <li>{{#__}}occupation-how-to.time.help.bullet-2{{/__}}</li>
            </ul>
        </div>
    </div>

</section>

<form class="save-occupation-form" data-test="save-occupation-form">
    <input type="hidden" name="socCode" value="{{occupation.soc}}">
    <input type="hidden" name="fromQuery" value="{{fromQuery}}">
    <input type="submit" class="button" value="Save" data-test="save-occupation">
</form>

<p>
    <a data-test="back-to-role" href="{{basePath}}/{{accountId}}/occupation/{{occupation.soc}}?fromQuery={{fromQuery}}" class="link-back" >Role</a>
</p>

{{/applicationContent}}

{{/layout}}
